
.dashbord{
    width: 100%;
}
.card{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.student-score-container{
    width: 250vw;
    height: 50vh;
    background-color:white;
    display:flex;
    margin-top: 0px;
    margin-left: 40px;
    justify-content: right;
    float:bottom;
}
.student-info{
    width: 100%;
    height: 25vh;
    padding:auto;
    background-color: #F6BE00;
    display: flex;
    justify-content: center;
}
.student-email{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    color: #121212;
    margin: auto;
}
.student-id{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #121212;
    margin: auto;
}
.student-class{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    color: #121212;
    margin: auto;
}
.student-score{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    border-radius: 5px;
    margin-top: 45px;
    width: 50vw;
    height: 45vh;
    display:block;
    padding-right: 4px;
    justify-content: right;
    background-color: whitesmoke;
    overflow-y: auto;
   
}
.user-info{
    font-family: 'Nerko One', cursive;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 30px;
}

.student-counselling-container{
    float: right;
    width: 35%;
    height: 40%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top:-640px;
    margin-right: 30px;
}
.student-counselling{
    width: 150px;
    height: 600px;
    margin-right:40px;
    padding: auto;
    
}
.button1{
    margin-top:200px;
    margin-left: 100px;

}
.button2{
    margin-top:-60px;
    margin-left:320px ;
    width: 150px;
}
.student-pdf-container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin-left:70px;
  width: 25vw;
  height: 25vh;
  background-color:whitesmoke;
 }
.card-body{
    font-size: 25px;
    font-weight: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(201, 38, 87);
}
.student-pdf{
    margin-top: 20px;
}

.teacher-id{
    display: flex;
    float:right;
}
.student-submission{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    background-color: whitesmoke;
    margin-top:30px;
    margin-left:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(201, 38, 87);
    
}