.counselling-info{
    width: 25%;
    height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin-left: 10rem;
    margin-top:10rem;
}
.role{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin-left: 10rem;
    margin-top: 6rem;
    font-size: 15px;
}
.role-output{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(216, 15, 48);
}
.header{
    font-family: 'Times New Roman', Times, serif;
    color: powderblue;
}
.header1{
    font-family: 'Times New Roman', Times, serif;
    color: powderblue;

}
